
<% if user_signed_in? %>
      <div class="app_layout_header">
        <div class="welcome">
          <% if current_page?(root_path) %>
            Welcome <%= current_user.name %> !
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to root_path do %>
              Home
            <% end %>
            <p><%= '' %></p>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
      <div class="messages">
        <% if notice.to_s != '' %>
          <div class="notice"><%= notice %></div>
        <% end %>
        <% if alert.to_s != '' %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>


       